**Trần Duy Tân - 22550020**

In [9]:
pip install findspark

Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [10]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

**Câu 1: Xuất số lượng phim được làm mỗi năm. Kết quả được sắp xếp theo năm và có định dạng sau đây. (1 điểm)**

**Load Data**

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
spark = SparkSession.builder.appName("DataFrame").getOrCreate()
from pyspark.sql.functions import avg, explode, split
# Read movie and rating data
movieDF = spark.read.options(delimiter=',').schema('movie_id INT, title STRING, genres STRING').csv("movies_small.csv")
ratingDF = spark.read.options(delimiter=',').schema('user_id INT, movie_id INT, rating DOUBLE, timestamp STRING').csv("ratings_small.csv")

**Câu 1 Xuất số lượng phim được làm mỗi năm. Kết quả được sắp xếp theo năm và có định dạng sau đây. (1 điểm)**

In [14]:
temp1 = movieDF.withColumn("Year",
                           f.when(f.regexp_extract("title", r"\((\d{4}(\–\d{4})?)\)", 1) != "",
                                  f.regexp_extract("title", r"\((\d{4}(\–\d{4})?)\)", 1).cast("int"))
                            .otherwise(f.lit(' '))
                          )
temp1 = temp1.na.drop(subset=["Year"])
result1 = temp1.groupBy("Year").agg(f.count("year").alias("Num_of_movies"))
result1 = result1.sort(result1['Year'].cast('int'))
result1.show(20, truncate=False)

+----+-------------+
|Year|Num_of_movies|
+----+-------------+
|    |13           |
|1902|1            |
|1903|1            |
|1908|1            |
|1915|1            |
|1916|4            |
|1917|1            |
|1919|1            |
|1920|2            |
|1921|1            |
|1922|1            |
|1923|4            |
|1924|5            |
|1925|4            |
|1926|5            |
|1927|7            |
|1928|4            |
|1929|4            |
|1930|5            |
|1931|14           |
+----+-------------+
only showing top 20 rows

 **câu 2 : Xuất số lượng phim thuộc về mỗi dòng phim được làm mỗi năm. Kết quả được sắp xếp theo năm. Số phim của mỗi
dòng được trình bày trong từng cột như sau: ( 2 điểm)**

In [18]:
cau2 = movieDF.withColumn("Year", f.regexp_extract("title", r"\((\d{4})\)", 1))
cau2 = cau2.withColumn("Genre", f.explode(f.split("genres", "\|")))
result_cau2 = cau2.groupBy("Year").pivot("Genre").count()
result_cau2= result_cau2.orderBy("Year")
result_cau2.show(10, truncate=False)

+----+------------------+------+---------+---------+--------+------+-----+-----------+-----+-------+---------+------+----+-------+-------+-------+------+--------+----+-------+------+
|Year|(no genres listed)|Action|Adventure|Animation|Children|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|IMAX|Musical|Mystery|Romance|Sci-Fi|Thriller|War |Western|genres|
+----+------------------+------+---------+---------+--------+------+-----+-----------+-----+-------+---------+------+----+-------+-------+-------+------+--------+----+-------+------+
|    |9                 |1     |NULL     |NULL     |NULL    |NULL  |NULL |NULL       |2    |NULL   |NULL     |NULL  |NULL|NULL   |NULL   |NULL   |2     |2       |NULL|NULL   |1     |
|1902|NULL              |1     |1        |NULL     |NULL    |NULL  |NULL |NULL       |NULL |1      |NULL     |NULL  |NULL|NULL   |NULL   |NULL   |1     |NULL    |NULL|NULL   |NULL  |
|1903|NULL              |NULL  |NULL     |NULL     |NULL    |NULL  |1    |NULL       |NULL |NULL   |NULL     |NULL  |NULL|NULL   |NULL   |NULL   |NULL  |NULL    |NULL|1      |NULL  |
|1908|NULL              |NULL  |NULL     |1        |NULL    |1     |NULL |NULL       |NULL |NULL   |NULL     |NULL  |NULL|NULL   |NULL   |NULL   |1     |NULL    |NULL|NULL   |NULL  |
|1915|NULL              |NULL  |NULL     |NULL     |NULL    |NULL  |NULL |NULL       |1    |NULL   |NULL     |NULL  |NULL|NULL   |NULL   |NULL   |NULL  |NULL    |1   |NULL   |NULL  |
|1916|NULL              |1     |1        |NULL     |NULL    |1     |NULL |NULL       |1    |1      |NULL     |NULL  |NULL|NULL   |NULL   |1      |1     |NULL    |NULL|NULL   |NULL  |
|1917|NULL              |NULL  |NULL     |NULL     |NULL    |1     |NULL |NULL       |NULL |NULL   |NULL     |NULL  |NULL|NULL   |NULL   |NULL   |NULL  |NULL    |NULL|NULL   |NULL  |
|1919|NULL              |NULL  |NULL     |NULL     |NULL    |1     |NULL |NULL       |1    |NULL   |NULL     |NULL  |NULL|NULL   |NULL   |NULL   |NULL  |NULL    |NULL|NULL   |NULL  |
|1920|NULL              |NULL  |NULL     |NULL     |NULL    |1     |1    |NULL       |NULL |1      |NULL     |1     |NULL|NULL   |NULL   |NULL   |NULL  |NULL    |NULL|NULL   |NULL  |
|1921|NULL              |NULL  |NULL     |NULL     |NULL    |1     |NULL |NULL       |1    |NULL   |NULL     |NULL  |NULL|NULL   |NULL   |NULL   |NULL  |NULL    |NULL|NULL   |NULL  |
+----+------------------+------+---------+---------+--------+------+-----+-----------+-----+-------+---------+------+----+-------+-------+-------+------+--------+----+-------+------+
only showing top 10 rows

**Câu 3 Với mỗi userID, xuất điểm đánh giá trung bình của user đó cho mỗi dòng phim. Kết quả được sắp xếp theo userID.
Kết quả của từng dòng phim được trình bày trong mỗi cột như sau: (2 điểm)**

In [19]:
# Join và tính trung bình rating theo genres và userId
joinCau3 = ratingDF.join(movieDF, on=['movie_id'], how="inner")
cau3 = joinCau3.withColumn("Genre", explode(split("genres", "\|")))
result_cau3 = cau3.groupBy("user_id", "Genre").agg(avg("rating").alias("avg_rating"))
result_cau3 = result_cau3.groupBy("user_id").pivot("Genre").avg("avg_rating")
# Sắp xếp theo userId và hiển thị 100 dòng mà không truncate
sorted_cau3 = result_cau3.orderBy("user_id")
sorted_cau3.show(10, truncate=False)

+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|user_id|(no genres listed)|Action            |Adventure         |Animation         |Children          |Comedy            |Crime             |Documentary      |Drama             |Fantasy           |Film-Noir|Horror            |IMAX              |Musical           |Mystery           |Romance           |Sci-Fi            |Thriller          |War               |Western           |
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|1      |NULL              |4.322222222222222 |4.3882352941176475|4.689655172413793 |4.5476190476190474|4.27710843373494  |4.355555555555555 |NULL             |4.529411764705882 |4.297872340425532 |5.0      |3.4705882352941178|NULL              |4.681818181818182 |4.166666666666667 |4.3076923076923075|4.225             |4.1454545454545455|4.5               |4.285714285714286 |
|2      |NULL              |3.9545454545454546|4.166666666666667 |NULL              |NULL              |4.0               |3.8               |4.333333333333333|3.8823529411764706|NULL              |NULL     |3.0               |3.75              |NULL              |4.0               |4.5               |3.875             |3.7               |4.5               |3.5               |
|3      |NULL              |3.5714285714285716|2.727272727272727 |0.5               |0.5               |1.0               |0.5               |NULL             |0.75              |3.375             |NULL     |4.6875            |NULL              |0.5               |5.0               |0.5               |4.2               |4.142857142857143 |0.5               |NULL              |
|4      |NULL              |3.32              |3.6551724137931036|4.0               |3.8               |3.5096153846153846|3.814814814814815 |4.0              |3.4833333333333334|3.6842105263157894|4.0      |4.25              |3.0               |4.0               |3.4782608695652173|3.3793103448275863|2.8333333333333335|3.5526315789473686|3.5714285714285716|3.8               |
|5      |NULL              |3.111111111111111 |3.25              |4.333333333333333 |4.111111111111111 |3.466666666666667 |3.8333333333333335|NULL             |3.8               |4.142857142857143 |NULL     |3.0               |3.6666666666666665|4.4               |4.0               |3.090909090909091 |2.5               |3.5555555555555554|3.3333333333333335|3.0               |
|6      |NULL              |3.609375          |3.893617021276596 |4.071428571428571 |3.617021276595745 |3.37007874015748  |3.2857142857142856|NULL             |3.6142857142857143|3.5384615384615383|2.5      |3.263157894736842 |4.666666666666667 |4.166666666666667 |3.7333333333333334|3.6142857142857143|3.4761904761904763|3.5441176470588234|3.5833333333333335|3.8181818181818183|
|7      |NULL              |3.2578125         |3.314814814814815 |3.392857142857143 |3.2               |3.163265306122449 |3.3076923076923075|NULL             |3.1315789473684212|3.0652173913043477|3.25     |4.0               |2.4545454545454546|3.6666666666666665|3.1785714285714284|2.65              |3.1547619047619047|3.4302325581395348|3.2916666666666665|1.5               |
|8      |NULL              |3.3333333333333335|3.5454545454545454|5.0               |4.25              |3.2083333333333335|3.888888888888889 |NULL             |3.789473684210526 |3.25              |NULL     |4.5               |4.5               |5.0               |4.0               |3.5               |3.25              |3.75              |3.6666666666666665|3.0               |
|9      |NULL              |3.125             |3.8               |4.0               |4.0               |3.6666666666666665|3.142857142857143 |NULL             |3.4285714285714284|5.0               |4.0      |1.8               |3.0               |3.0               |4.0               |3.1666666666666665|3.0               |2.5454545454545454|3.5               |4.0               |
|10     |NULL              |3.5               |3.5806451612903225|3.8666666666666667|3.607142857142857 |3.2658227848101267|3.1153846153846154|NULL             |3.1527777777777777|3.4411764705882355|NULL     |1.75              |3.361111111111111 |3.3333333333333335|2.1666666666666665|3.3333333333333335|2.0               |3.076923076923077 |3.75              |NULL              |
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
only showing top 10 rows

**Câu 4 :Với mỗi phim, xuất ra tên, năm, số lượng ratings, và điểm rating trung bình (từ mọi users) cho bộ phim đó. Kết quả
được sắp xếp theo năm, sau đó theo tên phim như sau: (2 điểm)**

In [21]:
cau4 = movieDF.join(ratingDF, on='movie_id', how='inner')
resultDF = cau4.groupBy('title', 'genres', 'movie_id').agg(
    f.count('rating').alias('Num_rating'),
    f.avg('rating').alias('Average_rating')
)
resultDF = resultDF.withColumn('Year', f.regexp_extract('title', r'\((\d{4})\)', 1))
resultDF = resultDF.select('Year', 'title', 'Num_rating', 'Average_rating').withColumnRenamed('title', 'Movie_name') \
    .orderBy(['Year', 'title'])
resultDF.show(10, truncate=False)

+----+---------------------------------+----------+--------------+
|Year|Movie_name                       |Num_rating|Average_rating|
+----+---------------------------------+----------+--------------+
|    |Babylon 5                        |2         |2.25          |
|    |Black Mirror                     |1         |5.0           |
|    |Cosmos                           |2         |4.5           |
|    |Death Note: Desu nôto (2006–2007)|1         |5.0           |
|    |Generation Iron 2                |1         |3.5           |
|    |Hyena Road                       |1         |2.0           |
|    |Maria Bamford: Old Baby          |1         |1.0           |
|    |Moonlight                        |1         |5.0           |
|    |Nocturnal Animals                |1         |3.0           |
|    |Paterson                         |1         |4.5           |
+----+---------------------------------+----------+--------------+
only showing top 10 rows