In [1]:
! pip install spark

Collecting spark
  Using cached spark-0.2.1-py3-none-any.whl
Installing collected packages: spark
Successfully installed spark-0.2.1

In [2]:
!pip install kafka-python

Collecting kafka-python
  Using cached kafka_python-2.0.2-py2.py3-none-any.whl.metadata (7.8 kB)
Using cached kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2

In [3]:
!pip install findspark

Requirement already satisfied: findspark in d:\udemy\airflowtutorial\.venv\ie212-bigdata-uit\lib\site-packages (2.0.1)

In [4]:
    !pip install Pandas

Collecting Pandas
  Using cached pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from Pandas)
  Using cached numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\udemy\airflowtutorial\.venv\ie212-bigdata-uit\lib\site-packages (from Pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from Pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from Pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\udemy\airflowtutorial\.venv\ie212-bigdata-uit\lib\site-packages (from python-dateutil>=2.8.2->Pandas) (1.16.0)
Using cached pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
Using cached numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, Pandas
Successfully installed Pandas-2.2.2 numpy-1.26.4 pytz-2024.1 tzdata-2024.1

In [7]:
import findspark

findspark.init()

from pyspark.sql import SparkSession

scala_version = '2.12'  # your scala version
spark_version = '3.5.0'  # your spark version
packages = [
    f'org.apache.spark:spark-sql-kafka-0-10_{scala_version}:{spark_version}',
    'org.apache.kafka:kafka-clients:3.6.0'  #your kafka version
]
spark = SparkSession.builder.master("local").appName("kafka-example").config("spark.jars.packages",
                                                                             ",".join(packages)).getOrCreate()
spark

**Creating a Kafka Source for Batch Queries**

Create dataframe from Kafka data

In [8]:
topic_name = 'RandomNumber'
kafka_server = 'localhost:9092'
kafkaDf = spark.read.format("kafka").option("kafka.bootstrap.servers", kafka_server).option("subscribe",
                                                                                            topic_name).option(
    "startingOffsets",
    "earliest").load()

Show data (converting dataframe to pandas for cleaner view of data)

In [9]:
kafkaDf.toPandas()

,key,value,topic,partition,offset,timestamp,timestampType
0,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,0,2024-05-20 20:27:49.465,0
1,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,1,2024-05-20 20:27:54.466,0
2,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,2,2024-05-20 20:27:59.467,0
3,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,3,2024-05-20 20:30:13.477,0
4,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,4,2024-05-20 20:30:14.478,0
5,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,5,2024-05-20 20:30:15.512,0
6,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,6,2024-05-20 20:30:16.514,0
7,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,7,2024-05-20 20:30:17.515,0
8,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,8,2024-05-20 20:30:18.516,0
9,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,9,2024-05-20 20:30:19.518,0
10,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,10,2024-05-20 20:30:20.521,0
11,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,11,2024-05-20 20:30:21.522,0
12,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,12,2024-05-20 20:30:22.523,0
13,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,13,2024-05-20 20:30:23.525,0
14,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,14,2024-05-20 20:30:24.525,0
15,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,15,2024-05-20 20:30:25.527,0
16,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,16,2024-05-20 20:30:26.529,0
17,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,17,2024-05-20 20:30:27.535,0
18,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,18,2024-05-20 20:30:28.536,0
19,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,19,2024-05-20 20:30:29.537,0
20,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,20,2024-05-20 20:30:30.538,0
21,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,21,2024-05-20 20:30:31.539,0
22,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,22,2024-05-20 20:30:32.540,0
23,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,23,2024-05-20 20:30:33.541,0
24,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,24,2024-05-20 20:30:34.544,0
25,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,25,2024-05-20 20:30:35.544,0
26,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,26,2024-05-20 20:30:36.545,0
27,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,27,2024-05-20 20:30:37.546,0
28,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,28,2024-05-20 20:30:38.547,0
29,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,29,2024-05-20 20:30:39.548,0

Show streaming data using for loop

In [10]:
from pyspark.sql.functions import col

batchDF = kafkaDf.select(col('topic'), col('offset'), col('value').cast('string').substr(12, 1).alias('rand_number'))
from time import sleep
from IPython.display import display, clear_output

for x in range(0, 2000):
    try:
        print("Showing live view refreshed every 5 seconds")
        print(f"Seconds passed: {x * 5}")
        display(batchDF.toPandas())
        sleep(5)
        clear_output(wait=True)
    except KeyboardInterrupt:
        print("break")
    break
print("Live view ended...")

Live view ended...

 Perform some data aggregation and show live results

In [11]:
batchCountDF = batchDF.groupBy('rand_number').count()
for x in range(0, 2000):
    try:
        print("Showing live view refreshed every 5 seconds")
        print(f"Seconds passed: {x * 5}")
        display(batchCountDF.toPandas())
        sleep(100)
        clear_output(wait=True)
    except KeyboardInterrupt:
        print("break")
    break
print("Live view ended...")

Showing live view refreshed every 5 seconds
Seconds passed: 0

  rand_number  count
0           7      1
1           3     11
2           8      1
3           0      2
4           5      1
5           6      1
6           9      1
7           1     12
8           4      2
9           2     12

break
Live view ended...

Creating a Kafka Source for Streaming Queries

Create Streaming dataframe from Kafka

In [12]:
streamRawDf = spark.readStream.format("kafka").option("kafka.bootstrap.servers", kafka_server).option("subscribe",topic_name).load()
streamDF = streamRawDf.select(col('topic'), col('offset'),col('value').cast('string').substr(12, 1).alias('rand_number'))
checkEvenDF = streamDF.withColumn('Is_Even', col('rand_number').cast('int') % 2 == 0)

AnalysisException: Queries with streaming sources must be executed with writeStream.start();
kafka

Write stream

In [13]:
from random import randint

randNum = str(randint(0, 10000))
q1name = "queryNumber" + randNum
q2name = "queryCheckEven" + randNum
stream_writer1 = (
    streamDF.writeStream.queryName(q1name).trigger(processingTime="5 seconds").outputMode("append").format("memory"))
stream_writer2 = (
    checkEvenDF.writeStream.queryName(q2name).trigger(processingTime="5 seconds").outputMode("append").format("memory"))
query1 = stream_writer1.start()
query2 = stream_writer2.start()

View streaming result

In [14]:
for x in range(0, 2000):
    try:
        print("showing live view refreshed every 5 seconds")
        print(f"Seconds passed : {x * 5}")
        result1 = spark.sql(f"SELECT * from {query1.name}")
        result2 = spark.sql(f"SELECT * from {query2.name}")
        display(result1.toPandas())
        display(result2.toPandas())
        sleep(5)
        clear_output(wait=True)

    except KeyboardInterrupt:
        print("Caught Keyboard Interrupt")
        break
print("Closing")

showing live view refreshed every 5 seconds
Seconds passed : 10

Empty DataFrame
Columns: [topic, offset, rand_number]
Index: []

Empty DataFrame
Columns: [topic, offset, rand_number, Is_Even]
Index: []

Caught Keyboard Interrupt
Closing